#reloj{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 1px #333;
    color: #fff;

}

.reloj-contenedor{
    background-color: rgb(12, 103, 206);
    padding-left: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    /* margin: 0 para que de arriba y abajo no haya margen con respecto al div contenedor(#rejoj)
     y el auto para que los centre en izq y der */
    margin: 0 auto;
    margin-top: 10%;
}

/* la fecha va con fuente mas pequeña de la de la hora */

#fecha{
    font-size: 15px;
    letter-spacing: 10px;
    padding-bottom: 5px;
}
.animar{
    border: rgb(0,0,0) 2px solid;
    

}